# Project information
site_name: Nuestro Manual
site_author: 23people.io
site_description: Transparentamos el cómo hacemos las cosas en 23people
strict: false
site_url: https://23people.io/

# Repository
repo_name: 23people/handbook
repo_url: https://github.com/23people-io/the-handbook
edit_uri: edit/main/docs/

# Copyright
copyright: Copyright &copy; 2025 <a href="https://23people.io">23people SpA</a>

# Validations
validation:
  nav:
    omitted_files: warn
    not_found: warn
    absolute_links: ignore
  links:
    not_found: warn
    absolute_links: warn
    unrecognized_links: ignore
  
# Configuration
docs_dir: "docs"
site_dir: "site"

# Theme
theme:
  name: "material"
  custom_dir: _overrides
  font: false
  palette:
    scheme: light
  features:
    - content.tabs.link
    - content.code.annotate
    - content.code.copy
    - content.action.view
    - content.action.edit
    - announce.dismiss
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.expand
    - navigation.instant
    - navigation.instant.progress
    - navigation.path
    - navigation.prune
    - navigation.top
    - navigation.tracking
    - navigation.sections
    - navigation.indexes
    - search.suggest
    - search.share
    - toc.follow
  font:
    text: Roboto
    code: Roboto Mono
  logo: _images/logo-23p-dark-mode-landscape.png
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil 
    view: material/eye
  language: es

# Plugins
plugins:
  - search:
      separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - "mkdocs-version-annotations":
      version_added_admonition: "tip"
  - mkdocstrings:
      enable_inventory: true
      handlers:
        python:
          options:
            docstring_style: google
  - git-revision-date-localized:
      enabled: !ENV [CI, false]
      type: timeago
      fallback_to_build_date: true

# Markdown
markdown_extensions:
  - pymdownx.highlight:
      linenums: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.snippets:
      restrict_base_path: false
  - admonition
  - tables
  - toc:
      permalink: "#"
      toc_depth: 2
  - attr_list
  - pymdownx.arithmatex:
      generic: true
  - def_list

# Extra files
extra_css:
  - assets/stylesheets/extra.css

# Customization
extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/23people-io
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/9192215
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/23people.io/
    - icon: fontawesome/brands/tiktok
      link: https://www.tiktok.com/@23people.io
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/23people
  analytics:
    provider: custom
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >- 
            Thanks for your feedback!

# Navigation
nav:
  - "Hello there.": 
      - index.md 

      - "Quienes somos":
          - about-us/who-we-are/index.md
          - Principios: principles/index.md
          - Prácticas: practices/index.md
          - Partnerships: about-us/who-we-are/partnerships.md
          - Historia: about-us/who-we-are/history.md
          - Nombre: about-us/who-we-are/name.md

      - "Lo que hacemos":
          - about-us/what-we-do/index.md
          - Desafíos: about-us/what-we-do/challenges.md
          - Servicios: about-us/what-we-do/services.md
          - Casos de Éxito: 
            - about-us/what-we-do/client-cases/index.md
            - "Equifax USA: Escalando de Equipos de Desarrollo para el SDC": about-us/what-we-do/client-cases/equifax-usa-formando-escalando-equipos-agiles-sdc.md
            - "Equifax Chile: Modernizando la Plataforma del Informe Platinum 360": about-us/what-we-do/client-cases/equifax-chile-modernizando-la-plataforma-del-informe-platinum-360.md
            - "ACHS: Manteniendo la Atención de Pacientes en Tiempos de Pandemia": about-us/what-we-do/client-cases/achs-manteniendo-la-atencion-de-pacientes-en-tiempos-de-pandemia.md

      - "Lo que nos diferencia":
          - about-us/how-we-work/index.md
          - Especialización en Roles Tech: about-us/how-we-work/tech-roles.md
          - Optimización en Reclutamiento Tech: about-us/how-we-work/talent-recruitment.md
          - Madurez de desarrollo de software: about-us/how-we-work/methodology.md
          - Manejo de tecnologías empresariales y emergentes: about-us/how-we-work/stack.md
          - Satisfacción de clientes: about-us/how-we-work/customer-success.md

      - "Lo que perseguimos":
          - about-us/what-we-pursue/index.md
          - Metas: about-us/what-we-pursue/goals.md
          - Principios: about-us/what-we-pursue/principles.md

  - "Comunidad":
      - Beneficios:
          - community/benefits/index.md
          - Convenios:
              - Betterfly: community/benefits/agreements/betterfly.md
              - Banco de Chile: community/benefits/agreements/cuenta-bancaria-banco-de-chile.md
              - Seguros Complementarios: community/benefits/agreements/seguros-complementarios.md
          - Incentivos:
              - Vacaciones: community/benefits/incentives/vacaciones.md
              - Regalo de Cumpleaños: community/benefits/incentives/regalo-cumpleanios.md
              - Fiestas Patrias y Navidad: community/benefits/incentives/fiestas-patrias-y-navidad.md
              - Dia Libre Cumpleaños: community/benefits/incentives/dia-libre-cunpleanios.md
              - Baby Shower: community/benefits/incentives/baby-shower.md
          - Reembolsos:
              - Vacunación contra la influenza: community/benefits/refunds/vacunacion-influenza.md
              - Cursos: community/benefits/refunds/cursos.md
              - Certificaciones Internacionales: community/benefits/refunds/certificaciones-internacionales.md
              - Mejora de Espacio de Trabajo: community/benefits/refunds/mejora-espacio-de-trabajo.md
          - Capacitaciones:
              - Cursos de Ingles: community/benefits/trainings/clases-de-ingles.md
          - Reglamento Interno: https://drive.google.com/file/d/1yu3hMaFphIXEtLQ86lULvymF5MGhSycr/view?usp=sharing
      - Procedimientos:
          - Administrativos: community/procedures/administratives.md
          - Servidor de Discord: community/procedures/discord-server.md
      - Eventos:
          - community/events/index.md
      - Entretención:
          - Playlist Spotify: community/spotify-playlist.md

  - "Organización":
      - organization/index.md        
      - "Equipos":
          - organization/teams/index.md
          - "Tech Talent Services (TTS)":
              - "Resumen": organization/teams/tech-talent-services/index.md
              - "Base de Conocimientos": organization/teams/tech-talent-services/knowledge-base.md
              - "Glosario": organization/teams/tech-talent-services/glossary.md
          - "Sales & Growth Marketing (SMKT)":
              - "Resumen": organization/teams/sales-and-marketing/index.md
              - "Glosario": organization/teams/sales-and-marketing/glossary.md
              - "Servicios":
                  - "Ventas":
                      - "Proceso de Venta Consultiva": organization/teams/sales-and-marketing/services/sales/consultative-sales-process.md
          - "Backoffice (BKO)":
              - "Resumen": organization/teams/backoffice/index.md
              - "Base de Conocimientos": organization/teams/backoffice/knowledge-base.md
              - "Glosario": organization/teams/backoffice/glossary.md
              - "Sello de Calidad": organization/teams/backoffice/quality-seal.md
          - "Research & Development (R&D)": organization/teams/research-and-development/index.md
      - "Tribus":
          - organization/tribes/index.md
          - "Iarvis Tribe": organization/tribes/iarvis-tribe/index.md
          - "Drakkar Tribe": organization/tribes/drakkar-tribe/index.md
      - "Cargos Laborales": 
          - organization/workforce/positions/index.md
          - "Operations Director": organization/workforce/positions/operations-director.md
          - "Senior Business Development Manager": organization/workforce/positions/senior-business-development-manager.md
      - "Roles":
          - organization/workforce/roles/index.md
          - "Global Operations Manager": organization/workforce/roles/global-operations-manager.md
          - "Service Request Manager": organization/workforce/roles/service-request-manager.md
          - "Service Delivery Manager": organization/workforce/roles/service-delivery-manager.md

  - "Principios":
      - principles/index.md
      - "Fundamentales": principles/fundamentals/index.md
      - "Cultura y Personas": principles/culture-and-people/index.md
      - "Operacionales": principles/operationals/index.md

  # - "Prácticas":
  #     - practices/index.md
  #     - "Agile Management":
  #         - practices/agile-management/index.md
  #         - "Gestionamos el trabajo, no las personas": practices/agile-management/workflows-manage-work-not-people.md
  #     - "Comunicación":
  #         - practices/communication/index.md
  #         - "Nos comunicamos de forma asincrónica": practices/communication/asynchronous-communication.md
  #         - "Escribirmos, luego comunicamos": practices/communication/write-then-communicate.md
  #         - "Estructuramos la narrativa de lo que hacmeos": practices/communication/structure-the-narrative.md

  - "Sustentabilidad":
      - "Nuestro Compromiso": sustainability/our-commitment.md
      - "Estrategia Reducción Emisiones": sustainability/strategy.md
      - "Equipo de Sustentabilidad": sustainability/team.md
      - "Recomendaciones de Tecnología": sustainability/technology-recommendations.md

  - "Guía Técnica":
      - technical-guide/index.md
      - "Desarrollo de Software": technical-guide/software-development/index.md
      - "Principios de Desarrollo de Software": technical-guide/software-development/principles.md
      - "Metodologías de Desarrollo de Software": technical-guide/software-development/methodologies.md
      - "Tecnologías de Desarrollo de Software": technical-guide/software-development/technologies.md
      - "Prácticas de Desarrollo de Software": technical-guide/software-development/practices.md
      - "IA y Machine Learning": technical-guide/software-development/ai-and-machine-learning.md
      - Cloud: technical-guide/software-development/cloud.md
      - Seguridad: technical-guide/software-development/security.md

extra_css:
  - _extra/css/extra.css

watch:
  - "docs"
  - "_overrides"