{% extends "base.html" %} 

{% block extrahead %} {% endblock %} 

{% block htmltitle %} 
{% if page.meta and page.meta.title %}
<title>{{ page.meta.title }} | {{ config.site_name }}</title>
{% elif page.title and not page.is_homepage %}
<title>{{ page.title | striptags }} | {{ config.site_name }}</title>
{% else %}
<title>{{ config.site_name }}</title>
{% endif %} 

{% endblock %} 

{% block container %}

<div class="md-content" data-md-component="content">
  <!-- Source file information -->
  {% include "partials/path.html" %}
  <article class="md-content__inner md-typeset">
    {% block content %} {% include "partials/content.html" %} {% endblock %}
  </article>
</div>

{% endblock %} 

{% block scripts %}
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PCDB36W"
     height="0" width="0" style="display:none;visibility:hidden">
    </iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  {{ super() }}
  
{% endblock %}
