name: Call Update General Overview Handbook Summary Webhook

on:
  push:
    branches:
      - main

jobs:
  trigger-webhook:
    runs-on: ubuntu-latest
    steps:
      - name:  Setup | Checkout Repository on Release Branch
        uses: actions/checkout@v3
        
      - name: Action | Trigger Cloudflare Worker
        id: trigger-worker
        uses: fjogeleit/http-request-action@v1
        with:
          url: 'https://iarvis.app.n8n.cloud/webhook/f63d8548-10d1-40dc-83ff-cd9051efb27f'
          method: 'POST'
          contentType: 'application/json'
          customHeaders: '{"auth": "${{ secrets.N8N_IARVIS_AUTH_TOKEN }}"}'
          data: '{"commit": "${{ github.sha }}"}'
      
      - name: Action | Show response
        run: |
          echo "Worker Response Status: ${{ steps.trigger-worker.outputs.status }}"
          echo "Worker Response: ${{ steps.trigger-worker.outputs.response }}"
          echo "Status URL: ${{ fromJson(steps.trigger-worker.outputs.response).statusUrl }}"
