name: Trigger Indexing on Vector Database

on:
  push:
    branches:
      - main2 # FIXME: Adjust this branch as needed

jobs:
  trigger-indexing:
    runs-on: ubuntu-latest
    steps:
      - name:  Setup | Checkout Repository on Release Branch
        uses: actions/checkout@v3
        
      - name: Action | Trigger Cloudflare Worker
        id: trigger-worker
        uses: fjogeleit/http-request-action@v1
        with:
          url: ${{ vars.CLOUDFLARE_HANDBOOK_INDEXER_WORKER_URL }}
          method: 'POST'
          contentType: 'application/json'
          data: '{"commit": "${{ github.sha }}"}'
      
      - name: Action | Show response
        run: |
          echo "Worker Response Status: ${{ steps.trigger-worker.outputs.status }}"
          echo "Worker Response: ${{ steps.trigger-worker.outputs.response }}"
          echo "Status URL: ${{ fromJson(steps.trigger-worker.outputs.response).statusUrl }}"
